<div class="container mt-3">
    <h2 class="Titulo" style="color: cadetblue;">Bibloteca</h2>
    <div style="display: flex; flex-direction: column; align-items: center; padding: 2rem;"><a href="/"
            class="btn btn-outline-primary">Volver al inicio</a>
    </div>
    <table class="table">
        <tr>
            <th>Autor</th>
            <th>Titulo</th>
            <th>Descripcion</th>
            <th>Putuacion</th>
        </tr>

        <tr>
            <td>
                {{Libro.Autor}}
            </td>
            <td>
                {{Libro.Titulo}}
            </td>
            <td>
                {{Libro.Descripcion}}
            </td>
            <td>
                {{Libro.Ratio}}/10
            </td>
        </tr>

    </table>
</div>